header{
    
    width: 100%;
    margin: 0 auto;
    padding: 10px 0px;
    background-color: #515561;
    text-align: center;
    
}



.navigationbtn{
    color: white;
    padding: 0px 32px;
    margin-left: 1%;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-color: #B28474;
    list-style: none;
    font-size: 18px;
    
}

.navigationbtn:hover{
    text-decoration: underline;
}

.btn-change-color{
    border: 2px black solid;
    float: right;
}